<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1><%= user.username %>'s page</h1>
  <p>Looks like you've requested information for the user with id <%= user.id %>.</p>
  <%= if user.username == "fluffums" do %>
    Also, let me just say that Fluffums is awesome.
  <% end %>
</body>
</html>
